# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/Frontend/dist
/Frontend/tmp
/Frontend/out-tsc
/Frontend/bazel-out

# Node
/Frontend/node_modules
/Frontend/npm-debug.log
/Frontend/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
/Frontend/.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/Frontend/.angular/cache
/Frontend/.sass-cache/
/Frontend//connect.lock
/Frontend//coverage
/Frontend//libpeerconnection.log
/Frontend/testem.log
/Frontend//typings

# System files
.DS_Store
Thumbs.db
