<div class="main-content">
<div class="header">
    <h2>Users</h2>
    <button mat-raised-button class="create-btn" (click)="router.navigate([''], {queryParams: {create: true}})">
        <div class="create-btn-content">
            <mat-icon>add</mat-icon>
            <h3>Create User</h3>
        </div>
    </button>
</div>

<div class="table-container">
    <!-- I could probably use ngFor here, it would be more robust to change but less readable... -->
    <table mat-table class="mat-elevation-z8" [dataSource]="users">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{element.user_id}}</td>
        </ng-container>

        <ng-container matColumnDef="user_name">
            <th mat-header-cell *matHeaderCellDef>UserName</th>
            <td mat-cell *matCellDef="let element">{{element.user_name}}</td>
        </ng-container>

        <ng-container matColumnDef="first_name">
            <th mat-header-cell *matHeaderCellDef>FirstName</th>
            <td mat-cell *matCellDef="let element">{{element.first_name}}</td>
        </ng-container>

        <ng-container matColumnDef="last_name">
            <th mat-header-cell *matHeaderCellDef>LastName</th>
            <td mat-cell *matCellDef="let element">{{element.last_name}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>

        <ng-container matColumnDef="user_status">
            <th mat-header-cell *matHeaderCellDef>UserStatus</th>
            <td mat-cell *matCellDef="let element">{{element.user_status}}</td>
        </ng-container>

        <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef>Department</th>
            <td mat-cell *matCellDef="let element">{{element.department}}</td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element; let i = index">
                <button matMiniFab class="edit-btn" (click)="router.navigate([''], {queryParams: {edit: users[i].user_id}})">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element; let i = index">
                <button matMiniFab class="delete-btn" (click)="router.navigate([''], {queryParams: {delete: users[i].user_id}})">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
